.login {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;

}

.field label {
	color: #c4c4c4;
	font-size: 17px;
	font-weight: 400;
}

.error {
	background: var(--primary-color);
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.icons{ 
	width: 20px;
	color: gray;
	position: absolute;
	left: 295px;
	top: 45px;
}

.box-search {
	position: relative;
}
